streamlit
easyocr
pypdf
docx2txt
python-dotenv
langchain-classic
langchain-community
langchain-huggingface
langchain-core
langchain-chroma
langchain-openai
pydantic
FlagEmbedding
huggingface-hub
sentence-transformers
chromadb
openai
chromadb==0.4.24
protobuf==4.25.3
opentelemetry-api
opentelemetry-sdk
